body {
  background-color: blueviolet;
  width: 600px;
  height: 430px;
}

#mycal {
  margin: auto;
  margin-top: 50px;
  width: 500px;
  height: 330px;
  background-color: rgb(77, 80, 91);
}
input {
  width: 20%;
  height: 40px;
  font-size: 23px;
  margin: 9px;
}
.jayjay {
  width: 93%;
  height: 50px;
  background-color: silver;
}
